.sectionRecommendation {
  [data-fs-product-shelf-skeleton] {
    --fs-carousel-item-margin-right: var(--fs-spacing-3);

    padding-bottom: var(--fs-spacing-5);

    [data-fs-product-shelf-items] {
      @include layout-content;
    }

    @include media("<tablet") {
      [data-fs-product-shelf-item] {
        &:not(:last-of-type) {
          margin-right: var(--fs-carousel-item-margin-right);
        }
      }
    }
  }

  @media (min-width: 1281px) {
    [data-fs-carousel-controls] {
      width: calc(85% + 2 * var(--fs-control-tap-size) + 2 * var(--fs-spacing-1)) !important;
    }
  }

  .shelfWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
  }

  .categoryImage {
    display: flex;
    align-self: stretch;
    width: 20%;
  }

  .categoryImage img {
    border-radius: 10px;
  }

  .carouselWrapper {
    min-width: 0;
    width: 55%;
  }

  @media (max-width: 1280px) {
    .categoryImage {
      width: 25%;
    }

    .carouselWrapper {
      width: 70%;
    }
  }

  @media (max-width: 768px) {
    .shelfWrapper {
      flex-direction: column;
    }

    .categoryImage {
      width: 95%;
      justify-content: center;
      align-items: center;
      align-self: center;
    }

    .carouselWrapper {
      width: 100%;
    }
  }
  
  @import "@faststore/ui/src/components/atoms/Badge/styles";
  @import "@faststore/ui/src/components/atoms/Button/styles";
  @import "@faststore/ui/src/components/atoms/Icon/styles";
  @import "@faststore/ui/src/components/atoms/Link/styles";
  @import "@faststore/ui/src/components/atoms/Price/styles";
  @import "@faststore/ui/src/components/atoms/SROnly/styles";
  @import "@faststore/ui/src/components/atoms/Skeleton/styles";
  @import "@faststore/ui/src/components/molecules/Carousel/styles";
  @import "@faststore/ui/src/components/molecules/DiscountBadge/styles";
  @import "@faststore/ui/src/components/molecules/Rating/styles";
  @import "@faststore/ui/src/components/molecules/ProductCard/styles";
  @import "@faststore/ui/src/components/molecules/ProductCardSkeleton/styles";
  @import "@faststore/ui/src/components/molecules/ProductPrice/styles";
  @import "@faststore/ui/src/components/organisms/ProductShelf/styles";
}
